{% include header.html %}

{% include nav.html active='explore' %}

{% include title.html name='Explore' %}

<section class="tm-expsection">
    <div class="tm-exp1">
        <p> Luxorious and Spacious Rooms</p>
        <img src="/assets/images/luxorius.png">
    </div>
</section>
<section class="tm-expsection">
    <div class="tm-exp2">
        <p> Inhouse Spa</p>
        <img src="/assets/images/spahouse.png">
    </div>
</section>
<section class="tm-expsection">
    <div class="tm-exp1">
        <p> Swimming Pools</p>
        <img src="/assets/images/swimming.png">
    </div>
</section>
<section class="tm-expsection">
    <div class="tm-exp2">
        <p> Indoor Game Room</p>
        <img src="/assets/images/play.png">
    </div>
</section>

{% include footer.html gmap=false %}